h1{
    font-size: 100px;
    color: rgb(151, 201, 233);
    text-align: center;
    font-style: italic;
}
body{
    background-image: url("images/b4.jfif");
    background-size: cover;
}
p{
    font-size: 80px;
    color: rgb(3, 51, 97);
    text-align: center;
    font-weight: bold;
}